.hero-viewport {
    background-color:cadetblue;
}

.image-gallary {
    background-color: burlywood;
}

.testimonial {
    background-color: cadetblue;
}

.cta {
    background-color: burlywood;
}

footer {
    background-color: beige;
}